.chatBox {
  min-width: 370px;
  max-width: 370px;
  position: relative;
  border: 1px solid var(--border-color-base);
}

.chatInput {
  border-radius: var(--border-radius-base);
}

.messageSentDate {
  text-wrap: nowrap;
}

.chatInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chatBoxMessageError {
  text-align: center;
}

.chatBoxMessageLoading {
  display: flex;
  align-items: center;
  margin: -15px;
}

.chatBoxHeader {
  margin-top: -10px;
  margin-bottom: -10px;
}

.chatBoxContent {
  display: flex;
  overflow: auto;
  flex-direction: column-reverse;
  margin: -15px;
}

@media screen and (max-width: 768px) {
  .chatBoxContent {
    margin: -5px;
  }
}

.chatBoxContentError {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBoxErrorMessage {
  text-align: center;
}

.chatParticipantInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chatInputFormItem {
  margin-left: 5px;
  margin-bottom: 0;
}

.editMessageTextarea {
  margin-bottom: 10px;
}

.currentUserMessagesGroup {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.otherUserMessagesGroup {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  text-wrap: wrap;
  max-width: 200px;
  min-width: 20px;
  text-align: left;
  margin-bottom: 5px;
  margin-right: 10px;
}

.otherMessage {
  background-color: var(--secondary-text-color);
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  text-wrap: wrap;
  max-width: 200px;
  min-width: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.removedMessage {
  background-color: transparent;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid var(--border-color-base);
}

.dummyAvatar {
  display: inline-block;
  width: 30px;
}

.otherMessageContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.messageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
}

.otherMessageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 5px;
}

.messageStatus {
  margin-right: 10px;
  display: inline-block;
}

.resendButton {
  padding: 0px;
}

.sendingError {
  margin-top: 3px;
  margin-right: 3px;
}

.editMessageForm {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}
