.chatBox {
  min-width: 350px;
  position: relative;
  border: 1px solid var(--border-color-base);
}

.chatInput {
  border-radius: 30px;
}

.chatInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chatBoxHeader {
  margin-top: -10px;
  margin-bottom: -10px;
}

.chatBoxContent {
  display: flex;
  overflow: auto;
  flex-direction: column-reverse;
  margin: -15px;
}

.chatParticipantInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chatInputFormItem {
  margin-left: 5px;
  margin-bottom: 0;
}

.currentUserMessagesGroup {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.otherUserMessagesGroup {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 5px;
  text-wrap: wrap;
  max-width: 200px;
  margin: 3px;
  margin-right: 10px;
}

.otherMessage {
  background-color: var(--secondary-text-color);
  border-radius: 15px;
  padding: 5px;
  text-wrap: wrap;
  max-width: 200px;
  margin-left: 5px;
}

.otherMessageContainer {
  margin-top: 3px;
}

.messageStatus {
  margin-right: 10px;
  /* margin-top: -3px; */
  /* font-size: 1rem; */
}
