@import '~antd/dist/antd.less';
@import './Style/customAntdComponent.less';
@import '~antd/dist/antd.dark.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: @body-background;
  --primary-color: @primary-color;
  --border-color-base: @border-color-base;
  --border-radius-base: @border-radius-base;
  --overlay-background-color: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 10px;
}

.entry-spinner {
  height: 100vh !important;
}
