@import '~antd/dist/antd.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: @body-background;
  --border-radius-base: @border-radius-base;
  --border-color: #e5e5e5;
  --overlay-background-color: rgba(0, 0, 0, 0.5);
}
