.row {
  position: absolute;
  z-index: 2;
  height: 100%;
  right: 0;
  left: 0;
}
.closeIcon {
  position: relative;
  top: 0px;
  left: 0px;
  border: none;
  background-color: transparent;
}

.formContainer {
  background-color: var(--body-background);
  position: relative;
  padding: 20px;
  justify-content: center;
  border-radius: var(--border-radius-base);
  align-items: center;
}
