.formContainer{
    .title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 24px;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }
    .navigateText{
        display: block;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
    }
}