.userProfile {
  width: 75%;
  margin-bottom: 15px;
}

.cardDescription {
  white-space: break-spaces;
}

@media screen and (max-width: 992px) {
  .userProfile {
    margin: auto;
    width: 95%;
  }
}
