.userProfile {
  width: 72%;
}

@media screen and (max-width: 992px) {
  .userProfile {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .userProfile {
    margin: auto;
    width: 97%;
  }
}
