$backGroundColorDarkTheme: #141414;
$backGroundColorLightTheme: #fff;
$textColorDarkTheme: #fff;
$textColorLightTheme: #000000;
$iconColorDarkTheme: #999999;
$iconColorLightTheme: #e6e6e6;
$iconHoverColorDarkTheme: rgba(255, 255, 255, 0.1);
$iconHoverColorLightTheme: rgba(0, 0, 0, 0.1);
$primaryColor: #ffb800;
$secondaryColor: #ff993c;
$textColor: #1e0d03;
$checkBoxColor: #27aef9;
$inputBg: #f1f4f8;
$statusTrue: #fd5959;
$statusFalse: #999999;