.home {
  display: flex;
  justify-content: space-between;
  position: relative;
  $sideBarWidth: 300px;

  .sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    padding-bottom: 50px;
    width: $sideBarWidth !important;
    max-width: $sideBarWidth !important;

    top: 50px;
    left: 0;
    bottom: 0;
  }
  .content {
    margin: 20px auto;
    margin-left: $sideBarWidth;
    padding-left: 30px;
  }
}
