.home {
  display: flex;
  justify-content: center;
  position: relative;

  .sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    z-index: 2;
    padding-bottom: 50px;

    top: 50px;
    left: 0;
    bottom: 0;
  }
  .content {
    margin: 20px auto;
  }

  .spacer {
    width: 25%;
  }

  .collapsed-spacer {
    width: 15%;
  }

  @media screen and (max-width: 500px) {
    .collapsed-spacer,
    .spacer {
      display: none;
    }
  }
}
