.post-content {
  margin-left: 10px;
  margin-right: 30px;
}

.virtual-post {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .virtual-post {
    height: 80vh;
  }
}

@media screen and (min-height: 705px) {
  .virtual-post {
    height: 65vh;
  }
}
