.post-content {
  margin-left: 10px;
}

.virtual-post {
  height: 100vh;
}

.list-item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border-color-base);
}

@media screen and (max-width: 500px) {
  .virtual-post {
    height: 80vh;
  }
}

@media screen and (min-height: 705px) {
  .virtual-post {
    height: 65vh;
  }
}

.buttonContainer {
  background-color: var(--body-background-dark-theme);
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: column;
}

.buttonContainer > button {
  text-align: left;
}
