.media {
  background-color: var(--contrast-background-color);
  border-radius: var(--border-radius-base);
  object-fit: contain;
}

.media-size {
  width: 50vw;
  height: 80vh !important;
}

@media screen and (max-width: 768px) {
  .media-size {
    width: 90vw;
  }
}

@media screen and (min-height: 705px) {
  .media-size {
    height: 45vh !important;
  }
}
